@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #333;
}

/* navigation bar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
  background-color: yellow;
  border-bottom: 1px solid #f2f2f2;
}

.navbar select,
.navbar h2 {
  margin-left: 30px;
}

.navbar .left-nav {
  width: 100px;
  cursor: pointer;
  margin-left: 10%;
}

.left-nav select {
  width: 100px;
  border: none;
  padding: 5px 10px;
}

.nav-right {
  margin-left: auto;
  margin-right: 30px;
  cursor: pointer;
}

/* for the image cart */

.container-1 {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  background-color: transparent;
  width: 370px;
  height: 400px;
  border: 2px solid beige;
  margin: 10px;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
}

.card:hover {
  width: 380px;
  background-color: yellow;
  border: 1px solid black;
  transition: 0.1s ease-in-out;
}

.card-image {
  background-color: transparent;
  margin-bottom: 15px;
  height: 180px;
  width: 350px;
  background-size: cover;
}

.card-image img {
  width: 250px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 10px;
}

.input-fields button {
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.input-fields input {
  border: 1px solid wheat;
  padding: 8px;
  border-radius: 8px;
}

.card-details {
  height: 100px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  padding: 5px;
}
.card-details a {
  text-decoration: none;
}

.card-details h2 {
  text-align: left;
  padding: 5px;
}

/* card - details and all */

.detail-container {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.back-btn {
  cursor: pointer;
}
.back-btn a {
  text-decoration: none;
}

.ori-details {
  display: flex;
}

.single-img,
.single-description {
  margin-top: 30px;
  width: 50%;
  height: 50vh;
  padding: 1rem;
  /* border: 1px solid wheat; */
}

.single-img img {
  width: 100%;
  height: 300px;
}

.single-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.input-fields {
  align-items: center;
}

.input-fields .gre {
  margin-right: -120px;
  /* color: #872828; */
}
